.popup__container {
  min-width: 430px;
  background-color: white;
  padding: 0 36px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media all and (max-width: 767px) {
  .popup__container {
    min-width: 282px;
    padding: 0 22px;
    margin: 0 auto; 
  }
}