.main {
  display: flex;
  flex-direction: column;
  width: 68.75%;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media all and (max-width: 767px) {
  .main {
    width: 100%;
  }
}