.popup__button {
  margin: 48px auto 37px;
  background-color: black;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  min-height: 50px;
  border: 0;
  padding: 0;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .popup__button   {
    width: 100%;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 25px;
  }
}